<!DOCTYPE html>
<html>
  <head>
    <title>Profile Management Tool</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'Ruby.png' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <% if user_signed_in? %>
    <%= render 'shared/navbar' %>
  <% end %>

  <div class="container">
    <div class="flash-msg">
      <% flash.each do |key, message| %>
        <div class="text-center alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
          <%= message %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </div>



  </body>
</html>
